@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/home.min.css" rel="stylesheet" />

    <title>Expert Advising</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
     <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->
    <link href="~/css/Carousel.css" rel="stylesheet" />

    <!-- Custom styles for this template -->


</head>

<body id="page-top">

    <!-- Navigation -->
    <!----<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Expert Advising</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://localhost:44375/Home/Index">Home</a>
                    </li>
                    @if (Session["user"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="https://localhost:44375/User/Login">Log IN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="https://localhost:44375/User/Register">Sign UP</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://localhost:44375/Home/Browse">Browse</a>
                    </li>
                    @if (Session["user"] != null)
                    {

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href=@Url.Action("My_Profile","Profile")>My Profile</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>-->
    <!-- Header -->
    <header>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/head.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:40px;color:white">An Investment in Knowledge</p>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href=@Url.Action("Index","Browse") style="font-size:30px;margin-bottom:70px">Find Your Expert</a>
                </div>
            </div>
        </div>
    </header>

    <!--Expert lists-->
    <div>
        <div id="center">
            <!--Ekahner pore loop chalais-->
            <a href=@Url.Action("Architecture", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Architecture </a>
            <a href=@Url.Action("Finance", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Finance</a>
            <a href=@Url.Action("Law", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Law</a>
            <a href=@Url.Action("Medical", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Medical </a>
            <a href=@Url.Action("Software", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Software and IT </a>
            <a href=@Url.Action("Textile", "Browse") class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color:#212529;border-color:#212529;font-size:300%">Textile</a>
        </div>
    </div>


    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href=@Url.Action("Index", "Browse")><h4 class="service-heading">Find An expert</h4></a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href=@Url.Action("Index","Browse")><h4 class="service-heading">View All Experts</h4></a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href=""><h4 class="service-heading">Ask A Question</h4></a>
                </div>
            </div>
        </div>
    </section>
    <!--Expert reg-->

    <div class="row">

        <div class="col-md-12" style="text-align:center;font-size:40px; padding-left:50px">
            Are You An Expert?
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12" style="text-align:center;font-size:40px; padding-left:50px">
            <!--<span class="col-md-6">Join a community of passionate experts and thought leaders <br> who are being sought out by fellow entrepreneurs.</span><br><br>-->
            <span><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="font-size:30px" href="https://localhost:44375/Expert/Register">Become An Expert</a></span>
        </div>
    </div>
    <!--about us-->
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">About Us</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>

    <!-- Custom scripts for this template -->

    <script src="~/Scripts/home.js"></script>
    <script src="~/Scripts/home.min.js"></script>

    <script src="~/Scripts/gulpfile.js"></script>

</body>

</html>

